<!DOCTYPE html>
<html>
<head>
    <title>Movies App</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
     <div class="container" id="app">
        <h1>Star Wars Chronological Order</h1>
         <hr>
         <br>
         <br>
         <div v-for="movie in movies | filterBy 'George Lucas'">
            <img v-bind:src="movie.field_poster[0].url" alt="{{ movie.field_poster[0].alt }}">
            <h2>{{ movie.title[0].value }}</h2>
            <p>
                <strong>Director: {{ movie.field_director[0].value }}</strong>
            </p>
            <strong>Actors: </strong> <br>
            <span v-for="actor in movie.field_actors">
                {{ actor.value }}<br>
            </span>
         </div>
     </div>
     <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 <script type="text/javascript" src="js/vue.js"></script>
 <script type="text/javascript" src="js/vue-resource.js"></script>
 <script type="text/javascript" src="js/app.js"></script>

</body>
</html>